#flex-container {
    display: flex;
    background-color: aqua;
    padding: 20px;
    align-items: baseline;
    height: 400px;
}
img.grande {
    width: 200px;
}

img.mediana {
    width: 150px;
}

img.pequeña {
    width: 100px;
}