* body{
    background-color: 180, 171, 169;
    color: 45, 72, 245;
}

h1{
    background-color: #060606 ;
    color: #fafafd;
}

div {
    background-color: 74, 95, 232;
    color: 247, 248, 250 ;
}