
.p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

#name{
    background-color: #0000ff;
    color: white;
}

.segundo{
    font-size: 30px;
    color: red;
}

.titulo{
    background-color: yellow;
    font-size: 25px;
}